<style type="text/css">
    img.icon { 
        height:  36px; 
        padding: 0;
    }
    h4.popup {
        margin-bottom: 0;
    }
</style>

<div id="marker-popup-<%= articleid %>">
    <h4 class="popup">
        <span><%= geojson.properties.markername %></span>
        <span class="icon">
            <img class="icon" data-toggle="popover" data-placement="top" data-trigger="hover" src="<%= iconUrl %>" data-content="<%= iconTitle %>"></img>
        </span>
    </h4>
    <div><%= geojson.properties.text %></div>
</div>